#modal {
  width: 816px;
}

.cv-builder-card {
  background: white;
  padding: 30px;
  border-radius: 24px;
  height: 100%;
}

.button-preview {
  padding: 0 34px;
  border-radius: 30px;
  background-color: var(--color-main);
  color: white;
  border: var(--color-main);
  height: 100%;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.button-preview:hover {
  background-color: var(--color-main-lighter);
  border-color: var(--color-main-lighter);
}
