.btn-dark.btn-jobdash {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.btn-dark.btn-jobdash:hover {
  background-color: var(--color-main-lighter);
  border-color: var(--color-main-lighter);
}
