/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300;400;700&display=swap");
/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
  --color-main: #2622cf;
  --color-main-lighter: #4c48eb;
  --color-main-darker: #141262;
  --color-text: #1d1d1d;
  --color-gray: #e9f3ff;
  --color-dark-gray: #afbecf;
  /* --color-gray: #f4f4f4; */
  /* --color-bg: #d9dedc; */
  /* --color-dark: #1f2124;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border: #e0e3e6; */
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-gray);
}

h1,
h2 {
  font-family: "Archivo Black", sans-serif;
}

a {
  text-decoration: none;
}

.main-content {
  background-color: var(--color-gray);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px) {
  #root {
    background-color: white;
  }

  .main-content {
    background-color: white;
  }
}
