/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  /* background-color: #d6dfdc; */
}

h1 {
  font-family: "Archivo Black", sans-serif;
}
